{%- capture tabs %}
  {%- capture content %}{{ collections['bambu'].description }}{% endcapture -%}
  56037^^Brand Story^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Bambu^^^^^^0^^~~
  {%- capture content %}{{ collections['ceae'].description }}{% endcapture -%}
  56038^^Brand Story^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Ceae^^^^^^0^^~~
  {%- capture content %}{{ collections['respiin'].description }}{% endcapture -%}
  56050^^Brand Story^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||ReSpiin^^^^^^0^^~~
  {%- capture content %}{{ collections['haoma'].description }}{% endcapture -%}
  56043^^Brand Story^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Haoma^^^^^^0^^~~
  {%- capture content %}{{ collections['neat'].description }}{% endcapture -%}
  56045^^Brand Story^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Neat^^^^^^0^^~~
  {%- capture content %}{{ collections['our-tiny-bees'].description }}{% endcapture -%}
  56046^^Brand Story^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Our Tiny Bees^^^^^^0^^~~
  {%- capture content %}{{ collections['patch'].description }}{% endcapture -%}
  56047^^Brand Story^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Patch^^^^^^0^^~~
  {%- capture content %}{{ collections['qwetch'].description }}{% endcapture -%}
  56049^^Brand Story^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Qwetch^^^^^^0^^~~
  {%- capture content %}{{ collections['ruby-cup'].description }}{% endcapture -%}
  56051^^Brand Story^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Ruby Cup^^^^^^0^^~~
  {%- capture content %}{{ collections['shark'].description }}{% endcapture -%}
  56052^^Brand Story^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Shark^^^^^^0^^~~
  {%- capture content %}{{ collections['truthbrush'].description }}{% endcapture -%}
  56055^^Brand Story^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Truthbrush^^^^^^0^^~~
  {%- capture content %}{{ collections['zero-waste-path'].description }}{% endcapture -%}
  56035^^Brand Story^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Zero Waste Path^^^^^^0^^~~
  {%- capture content %}<p>{{ collections['fushi'].description }}</p>{% endcapture -%}
  56040^^Brand Story^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Fushi^^^^^^0^^~~
  {%- capture content %}<p>{{ collections['georganics'].description }}</p>{% endcapture -%}
  56041^^Brand Story^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Georganics^^^^^^0^^~~
  {%- capture content %}{{ collections['elephant-box'].description }}{% endcapture -%}
  56036^^Brand Story^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Elephant Box^^^^^^0^^~~
  {%- capture content %}{{ collections['chewsy'].description }}{% endcapture -%}
  56039^^Brand Story^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Chewsy^^^^^^0^^~~
  {%- capture content %}{{ collections['green-island'].description }}{% endcapture -%}
  56042^^Brand Story^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Green Island^^^^^^0^^~~
  {%- capture content %}{{ collections['kind-bag'].description }}{% endcapture -%}
  56044^^Brand Story^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Kind Bag^^^^^^0^^~~
  {%- capture content %}{{ collections['percol'].description }}{% endcapture -%}
  56048^^Brand Story^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Percol^^^^^^0^^~~
  {%- capture content %}{{ collections['tru-earth'].description }}{% endcapture -%}
  56054^^Brand Story^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Tru Earth^^^^^^0^^~~
  {%- capture content %}{{ collections['the-nature-of-things'].description }}{% endcapture -%}
  56053^^Brand Story^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||The Nature Of Things^^^^^^0^^~~
  {%- capture content %}<p>{{ collections['milly-sissy'].description }}</p>{% endcapture -%}
  59658^^Brand Story^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^|260610785354|||^^^^^^0^^~~
  {%- capture content %}<p>{{ collections['safix'].description }}</p>{% endcapture -%}
  59659^^Brand Story^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^|260584013898|||^^^^^^0^^~~
  {%- capture content %}<p>{{ collections['corinne-taylor'].description }}</p>{% endcapture -%}
  59660^^Brand Story^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^|169792569418|||^^^^^^0^^~~
  {%- capture content %}<p>{{ collections['sol-de-ibiza'].description }}</p>{% endcapture -%}
  59661^^Brand Story^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^|260480204874|||^^^^^^0^^~~
  {%- capture content %}<p>{{ collections['beebee-wraps'].description }}</p>{% endcapture -%}
  34855^^Brand Story^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||BeeBee Wraps^^^^^^0^^~~
  {%- capture content %}<p>{{ collections['loofco'].description }}</p>{% endcapture -%}
  34822^^Brand Story^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||LoofCo^^^^^^0^^~~
  {%- capture content %}{{ collections['ecococonut'].description }}{% endcapture -%}
  34094^^Brand Story^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||EcoCoconut^^^^^^0^^~~
  {%- capture content %}<p>{{ collections['the-swag'].description }}</p>{% endcapture -%}
  34820^^Brand Story^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||The Swag^^^^^^0^^~~
  {%- capture content %}{{ collections['neon-kactus'].description }}{% endcapture -%}
  34093^^Brand Story^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Neon Kactus^^^^^^0^^~~
  {%- capture content %}<p>{{ collections['ocean-bottle'].description }}</p>{% endcapture -%}
  34090^^Brand Story^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Ocean Bottle^^^^^^0^^~~
  {%- capture content %}<p>{{ collections['acala'].description }}</p>{% endcapture -%}
  34087^^Brand Story^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Acala^^^^^^0^^~~
  {%- capture content %}<p>{{ collections['zero-waste-club'].description }}</p>{% endcapture -%}
  34092^^Brand Story^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Zero Waste Club^^^^^^0^^~~
  {%- capture content %}<p>{{ collections['biork'].description }}</p>{% endcapture -%}
  34085^^Brand Story^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Biork^^^^^^0^^~~
  {%- capture content %}{{ collections['eco-living'].description }}{% endcapture -%}
  34086^^Brand Story^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Eco Living^^^^^^0^^~~
  56347^^Reviews^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^0||||^^^^^^0^^~~
  {%- capture content %}<p>{{ collections['skin-tonic'].description }}</p>{% endcapture -%}
  37488^^Brand Story^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Skin & Tonic^^^^^^0^^~~
  {%- capture content %}<p>{{ collections['oceansaver'].description }}</p>{% endcapture -%}
  37489^^Brand Story^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||OceanSaver^^^^^^0^^~~
  {%- capture content %}{{ collections['upcircle'].description }}{% endcapture -%}
  42307^^Brand Story^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||UpCircle^^^^^^0^^~~
  {%- capture content %}<p>We are dispatching as normal!</p>
<ul>
<li>Order before 2pm for same day dispatch</li>
<li>Express UK Delivery &pound;2.95</li>
<li>Free Express UK Delivery for orders over &pound;40</li>
<li>14 day no questions asked returns</li>
</ul>
<p>Head to &nbsp;<a title="The Ideal Sunday Delivery &amp; Returns" href="https://theidealsunday.com/pages/delivery-returns">Delivery &amp; Returns</a>&nbsp;for more information.&nbsp;</p>{% endcapture -%}
  35466^^Delivery & Returns^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^0||||^^4535484579914,4586601906250^^^^0^^~~
{%- endcapture -%}
{%- assign tabs_array = tabs | strip | split: '~~' -%}
{%- assign p_id_str = product.id | downcase -%}
<!-- begin station shared tab data -->
{%- for item in tabs_array -%}
  {%- assign tab = item | split: '^^' -%}
  {%- assign hndl = tab[1] | replace: '&amp;', '' | handleize -%}
  {%- capture tab_output -%}
    <div id="station-tabs-data-{{ tab[0] }}" class="station-tabs-data-item" style="display:none;" data-position="{{ tab[5] | default: -1 }}">
      <a id="st-link-{{ hndl }}" class="station-tabs-link" href="#{{ hndl }}"><span>{{ tab[1] }}</span></a>
      <div id="st-{{ hndl }}" class="station-tabs-content">
        <div class="station-tabs-content-inner">{{ tab[2] }}</div>
      </div>
    </div>
  {%- endcapture -%}
  {%- assign asn = tab[3] | split: '|' -%}
  {%- assign p_ids = asn[0] | split: ',' -%}
  {%- assign e_ids = tab[4] | split: ',' -%}
  {%- unless tabs_order contains tab[0] %}{% continue %}{% endunless -%}
  {%- if e_ids contains p_id_str %}{% continue %}{% endif -%}
  {%- if tab[7] != blank%}
    {%- assign t_lcl = tab[7] | downcase -%}
    {%- assign s_lcl = request.locale.iso_code | downcase -%}
    {%- if t_lcl != s_lcl %}{% continue %}{% endif -%}
  {%- endif -%}
  {%- if asn[0] == '0' or asn[1] == '0' -%} 
    {{ tab_output }}{% continue -%}
  {%- endif -%}
  {%- assign col_ids = asn[1] | split: ',' -%}
  {%- assign tags = asn[2] | split: ',' -%}
  {%- assign tps = asn[3] | split: ',' -%}
  {%- assign vndr = asn[4] | split: ',' -%}
  {%- if tab[6] == '1' %}{% assign all = true %}{% else %}{% assign all = false %}{% endif -%}
  {%- if asn[0] != blank -%}
    {%- assign all = false -%}
    {%- if p_ids contains p_id_str -%}
      {{ tab_output }}{% continue -%}
    {%- endif -%}
  {%- endif -%}
  {%- if tps.size > 1 or vndr.size > 1 %}{% assign all = false %}{% endif -%}
  {%- assign cncl = false -%}
  {%- if col_ids.size > 0 -%}
    {%- assign cols = product.collections | map: 'id' | downcase -%}
    {%- for c in col_ids -%}
      {%- if all -%}
        {%- unless cols contains c %}
          {%- assign cncl = true %}{% break -%}
        {%- endunless -%}
      {%- elsif cols contains c -%}
        {{ tab_output }}{% assign cncl = true %}{% break -%}
      {%- endif -%}
    {%- endfor -%}
    {%- if cncl %}{% continue %}{% endif -%}
  {%- endif -%}
  {%- if tags.size > 0 -%}
    {%- for t in tags -%}
      {%- if all -%}
        {%- unless product.tags contains t -%}
          {%- assign cncl = true %}{% break -%}
        {%- endunless -%}
      {%- elsif product.tags contains t %}
        {{ tab_output }}{% assign cncl = true %}{% break -%}
      {%- endif - %}
    {%- endfor -%}
    {%- if cncl %}{% continue %}{% endif -%}
  {%- endif -%}
  {%- if tps.size > 0 -%}
    {%- if all and tps[0] != product.type -%}
      {%- continue -%}
    {%- elsif all == false and tps contains product.type %}
      {{ tab_output }}{% continue -%}
    {%- endif -%}
  {%- endif -%}
  {%- if vndr.size > 0 -%}
    {%- if all and vndr[0] != product.vendor -%}
      {%- continue -%}
    {%- elsif all == false and vndr contains product.vendor -%}
      {{ tab_output }}{% continue -%}
    {%- endif -%}
  {%- endif -%}
  {%- if all %}{{ tab_output }}{% endif -%}
{%- endfor -%}
<!-- end station shared tab data -->